<h1>Mutual Funds</h1>
<table class="container mutualTable">
  <tr>
    <th>Fund Name</th>

    <th>Risk Potential</th>

    <th>Current Value</th>

    <th>Action</th>
  </tr>
  <tr *ngFor="let fund of funds">
    <td [routerLink]="['/funds', fund.id]">{{ fund.name }}</td>

    <td>{{ fund.value }}</td>

    <td>{{ fund.return }}</td>
    <button class="btn btn-primary" (click)="edit(fund.id)">EDIT</button>
    <button class="btn btn-danger" (click)="delete(fund.id)">DELETE</button>
  </tr>
</table>


